---
import { getEntryBySlug, getCollection } from "astro:content";
import Heading from "./Heading.astro";
import { Image } from "astro:assets";

export interface Props {
  authorId: string;
  showPosts?: boolean;
  headingLevel: 1 | 2 | 3 | 4 | 5 | 6;
}

const { authorId, showPosts, headingLevel = 2 } = Astro.props;

const entry = await getEntryBySlug("author", authorId);
if (!entry) {
  throw new Error(`El autor con id ${authorId} no existe.`);
}

const { Content } = await entry.render();
const { firstname, lastname, avatar, github, linkedin, twitter } = entry.data;
const fullname = `${firstname} ${lastname}`.toUpperCase()
const socials = [
  { name: "Github", url: github },
  { name: "LinkedIn", url: linkedin },
  { name: "Twitter", url: twitter },
].filter((social) => social.url);

const posts = await getCollection("blog");
const authorPosts = posts
  .filter((post) => post.data.draft === false)
  .filter((post) => post.data.authors.includes(authorId))
  .map((post) => ({
    url: `/blog/${post.slug}`,
    data: post.data,
  }));
---

<div class="not-prose flex flex-col items-start gap-4 rounded-2xl p-12 border-4 border-slate-800">
  <Heading headingLevel={headingLevel} class="text-xl">
    {fullname}
  </Heading>
  <Image
    class="rounded-full border-2 border-slate-400 bg-slate-500"
    src={avatar}
    width={250}
    height={250}
    style="display: block; margin-left: auto; margin-right: auto;"
    alt={`${firstname} ${lastname}`}
  />
  <hr style="width: 100%;">
  <div>
    <p class="text-justify">
      <Content />
    </p>
  </div>

  <div class="flex flex-col gap-2" style="width: 100%">
    {
      showPosts && authorPosts.length > 0 && (
        <>
          <p class="mb-0">Mis artículos ({authorPosts.length}):</p>
          <ul class="list-outside list-disc pl-4">
            {authorPosts.map((post) => (
              <li>
                <a
                  class="text-link no-underline text-blue-600 hover:text-blue-800"
                  href={post.url}
                >
                  {post.data.title}
                </a>
              </li>
            ))}
          </ul>
        </>
      )
    }

    {
      socials.length > 0 && (
        <>
          <hr>
          <div class="grid grid-rows-3 grid-flow-col gap-4">
            {socials.map((social) => (
              <div class="row-span-2 text-center">
                <a class="text-link no-underline text-blue-600 hover:text-blue-800" href={social.url} target="_blank">
                  {social.name}
                </a>
              </div>
            ))}
          </div>
        </>
      )
    }
  </div>
</div>
